.subheader {
  height: 90%;
  width: 100%;
  left: 94px;
  top: 114px;
  border-radius: 0px;
  font-family: Roboto;

  
}

.section-1,
.section-2 {
  height: 40%;
  width: 100%;
  left: 94px;
  top: 114px;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;

}

.header {
  height: 10%;
  width: 20%;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: large;
  font-weight: bolder;
  margin-left: 20px;
}

.sections {
  height: 70%;
  width: 80%;
  left: 94px;
  top: 114px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: start;


}


.sec-a-btn {
  height: 70%;
  width: 25%;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: none;
  margin-left: 20px;
}

.sec-a {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-a >span{
  height:60%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D4E5FF;
  border-radius: 50%;
}
.sec-a >span >img {
  height: 50%;
  width: 50%;
  top: 0px; 

}

.sec-a-btn:hover {
  border: 1px solid #D4E5FF;;
}

.sec-a-col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;

}

.sec-a-col>span{
font-size: 15px;
font-weight: 200;
line-height: 30px;
letter-spacing: 0px;
text-align: left;

}
.sec-a-col >.job-cnt{
font-size: 38px;
font-weight: 400;
line-height: 56px;
letter-spacing: 0px;
text-align: left;
color: #006FCB;

}

.sec1-b {
  height: 100%;
  width: 60%;
  top: 0px;
  border-radius: 7.5px;
  border-radius: 7.5px;
  justify-content: center;
  border-radius: 7.5px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 20px;
  background: #FFFFFF;

}

.sec1-b-col {
  width: 50%;
  height: 90%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.sec1-b>img {
  height: 70%;
  width: 30%;
  left: 0px;
  top: 0px;
  border-radius: 50%;
}

.sec1-b:hover {
  border: 1px solid black;
}

.sections>a {
  height: 80%;
  width: 80%;
  padding: 0;
  margin: 0;

}

.sec1-c {
  height: 100%;
  width: 60%;
  left: 328.5px;
  top: 0px;
  border-radius: 7.5px;
  border-radius: 7.5px;
  justify-content: center;
  border-radius: 7.5px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 20px;
  background: #FFFFFF;


}



.sec1-c-col {
  width: 80%;
  height: 90%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.sec1-c>img {
  height: 70%;
  width: 30%;
  border-radius: 50%;
}

.sec1-c:hover {
  border: 1px solid black;
}

.sec1-d {
  height: 80%;
  width: 20%;
  left: 328.5px;
  top: 0px;
  border-radius: 7.5px;
  border-radius: 7.5px;
  justify-content: center;
  border-radius: 7.5px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 20px;
  background: #FFFFFF;


}

.sec1-d-col {
  width: 50%;
  height: 90%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.sec1-d>img {
  height: 70%;
  width: 30%;
  border-radius: 50%;
}

.sec1-d:hover {
  border: 1px solid black;
}

.head3 {
  width: 100%;
  height: 20%;
  margin-left: 40px;
}

.search-input {
  height: 50%;
  width: 60%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.head3>button {
  height: 30%;
  width: 10%;
  left: 0px;
  top: 0px;
  border-radius: 3px;
  margin-left: 30px;
  background: #006FCB;
  color: #FFFFFF;
    border: none;
}

.head4 {
  width: 60%;
  height: 20%;
  margin-left: 30px;
  left: 94px;
  top: 727px;
  border-radius: 0px;
  display: flex;
  align-items: start;
  font-weight: bold;
  font-size:  16px;;

}

.Ind {
  position: relative;
  display: inline-block;
  height: 30%;
  width: 15%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  
  margin-right: 20px;
}

.Inddropdown-content {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Ind:hover .Inddropdown-content {
  border: 1px solid black;
}

.Loc {
  position: relative;
  display: inline-block;
  height: 30%;
  width: 15%;
  margin-right: 20px;
}

.Locdropdown-content {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Loc:hover .Locdropdown-content {
  border: 1px solid black;
}

.Type {
  position: relative;
  display: inline-block;
  height: 30%;
  width: 15%;
  margin-right: 20px;
}

.Typedropdown-content {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.Type:hover .Typedropdown-content {
  border: 1px solid black;
}

.Date {
  position: relative;
  display: inline-block;
  height: 30%;
  width: 15%;
  margin-right: 20px;
}

.Datedropdown-content {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Date:hover .Datedropdown-content {
  border: 1px solid black;
}

.Job {
  position: relative;
  display: inline-block;
  height: 30%;
  width: 15%;
  margin-right: 20px;
}

.Jobdropdown-content {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Job:hover .Jobdropdown-content {
  border: 1px solid black;
}

.head5 {
  height: 50%;
  width: 100%;
  margin-left: 30px;
}

.job-desc {
  height: 30%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  color:#006FCB;
}

.job-desc>.apply-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 10%;
  height: 60%;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
  linear-gradient(0deg, #006FCB, #006FCB);
  color:#006FCB;
  cursor: pointer;
  border: 1px solid  #006FCB;
}

.job-details {
  width: 80%;
  height: 60%;
  margin: 10px;
  background: #FFFFFF;


}

.job-details:hover {
  border: 1px solid #006FCB;;

}

.job-head {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.job-head-1 {
  width: 20%;
  Height: 100%;
  display: flex;
}

.job-head-1>img {
  height: 28px;
  width: 30px;
left: 5px;
top: 2px;
border-radius: 0px;

  margin-top: 10px;
  margin-right: 5px;
}

.job-head-2 {
  width: 20%;
  Height: 100%;
  display: flex;

}

.job-head-2>span >img {
  width: 30px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;

}

.job-head-3 {
  width: 20%;
  Height: 100%;
  display: flex;

}

.job-head-3>img {
  width: 30px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;

}

.job-head-4 {
  width: 20%;
  Height: 100%;
  display: flex;

}

.job-head-4>img {
  width: 30px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;

}

.job-content {
  width: 80%;
  height: 50%;
  margin-left: 50px;

}