.user-profile{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.profile-pic{
    width:20%;
    height:20%;
}

.profile-pic >img{
    width:60%;
    height:100%;
}
.profile-content{
    width:80%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.profile-row{
    display: inline-flex;
    padding: 10px
}
.profile-row >label{
    font-size: large;
    font-weight: bolder;
    padding-right: 20px;
 ;

}
