table {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
  }
  #stable tbody tr>:nth-child(6){
    font-weight: bold;
    color: #FFB800;
}
#stable tbody tr>:nth-child(1){
    font-weight: bold;
    color:blue;
}
  table, td, th {
   
    border-bottom : 1px solid black;
    padding:5px
 
  }
  .tab
  {
    Width : 1238px;
Height :  810px;
border-radius : 9px;
text-align: center;

  }