
.profile {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  

}
body{
    background-color: #FFFFFF;
}
.prof-header {
    width: 100%;
    height: 20%;
    background-color: blue;
}

.header-img>img {
    width: 10%;
    height: 70%;
}

.prof-content {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;



}
.prof-content>.prof-input{
width:100%;
height: 100%;


}

.prof-content>.prof-input>.prof-row,.prof-row-sub{
    width: 80%;
    height: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.prof-content>.prof-input>.prof-row>input,select{
    width: 30%;
    height: 70%;
    margin-left: 10px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    


}
.prof-content>.prof-input>.prof-row>select{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    box-sizing: border-box;
    font-size: 14px;
}

.prof-content>.prof-input>.prof-row>textarea {
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;

}

.prof-content>.prof-input>.prof-row>label {
    width:15%;
    height: 50%;
    font-weight: bolder;
    font-size: 15px;
   

}

.prof-row-about {
    margin-bottom: 10px;
}
.prof-row-sub>.prof-sub {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #349EF5;
    background-image: linear-gradient(45deg,#349EF5,#006FCB);
    width: 15%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;


    /* width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #006FCB; */

   }

.prof-footer{
    width: 100%;
    height: 8%;
    padding-top: 10px;
    background-color: rgb(22, 19, 19);
    color:rgb(238, 228, 228);
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0;;
}
.social >.fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  